{% extends 'base.html' %}
{% load static %}
{% block content%}

<div class="main-section pt-5 ">
    

    <div class="page-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Review Your Billing Address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    


                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                       
                                        <div class="billing-address">
                                            <div><b>{{ order.name }}</b></div>
                                            <div><b>{{ order.address }}</b></div>
                                            <div><b>{{ order.city }} - {{ order.pin_code }}</b></div>
                                            <div><b>{{ order.state }}, {{ order.country }}</b></div>
                                            <div><b>Phone: </b> {{ order.phone }}</div>
                                            <div><b>Email: </b> {{ order.email }}</div>
                                            <div><b>Payment: </b> {{ order.payment_method }}</div>
                                            <br>
                                            <div><a href="{% url 'checkout' %}" class="btn btn-outline-danger">Edit</a></div>
                                            <br>
                                        </div>
                         
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                

                {% comment %} Your order section {% endcomment %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div>
                                        <table class="table borderless" style="border: none; !important">
                                            <tbody>
                                                {% for item in cart_items %}
                                                <tr>

                                                    <td><b>{{ item.fooditem }}</b></td>
                                                    <td>{{ item.quantity }}</td>
                                                    <td>${{ item.fooditem.price }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    <ul>
                                        <li style="list-style-type: none;">
                                            Subtotal
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="subtotal">{{ subtotal }}</span>
                                            </span>
                                        </li>
                                        {% for key,value in tax_dict.items %}
                                            {% for i,j in value.items%}
                                                <li style="list-style-type: none;">
                                                    {{ key }} <small>({{ i }}%)</small>
                                                    <span class="price float-right">
                                                        <span class="currency">$</span>
                                                        <span id="tax-{{ key }}">{{ j }}</span>
                                                    </span>
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                        <li style="list-style-type: none; font-weight: 600;">
                                            Total
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="total">{{ grand_total }}</span>
                                            </span>
                                        </li>

                                        <a href="{% url 'payments' %}" onclick="return payMethodConfirm1()" class="order-placed btn btn-danger w-100 pt-2 mt-3">COD</a>
                                    </ul>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    function payMethodConfirm1()
    {
        alert("hello");
    }
</script>
<!-- Main Section End -->

{% endblock %}

